@use '../Main/Main.module.scss' as V;
@import url('https://fonts.google.com/specimen/Limelight?query=Limelight');
@import url('https://fonts.google.com/specimen/Linden+Hill?query=Linden');

header {
  position: auto; 
  background-color: V.$depression;
  img {
      width: 100%;
      max-height:min-content;
      object-fit: cover;
      top: 0;
      clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 0% 10%); 
  }
}


//Navbar og knapper styling
.Navbar {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 8%;
    font-family: "Linden Hill";
    font-weight: 100;
    align-items: center;
    gap: 10rem; 
    width: 100%;

     a {
        color: V.$caramel;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 2rem
      }

      a:hover {
        color: V.$fat-milk;
        text-decoration: underline;
        font-weight: bold;
      }
  }

  //Rectangle med I hver hjørne cirkler og text ind i. 
  .TitleBox {
    position: absolute;
    top: 118%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: V.$dark;
    border: 1.3rem solid V.$depression;
    text-align: center;
    align-content: center;
    height: 60vh;
    z-index: 2;
    box-shadow: 0px 4px 20px 10px #151515; 
    
  
    h1 {
      font-size: 5rem;
      color: V.$slight-depression;
      font-family: "Limelight", sans-serif;
      margin-top: 2rem;
    }
  
    p {
      font-size: 1.5rem;
      color: V.$slight-depression;
      font-family: "Linden Hill";
      max-width: 50%;
      margin: 0 auto;
      padding: 5%;
      font-weight: lighter;
    }

    // Circle styles 
  .circle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: V.$slight-depression;
    border-radius: 50%;
  }

  .top-left {
    top: 1rem;
    left: 1rem;
  }

  .top-right {
    top: 1rem;
    right: 1rem;
  }

  .bottom-left {
    bottom: 1rem;
    left: 1rem;
  }

  .bottom-right {
    bottom: 1rem;
    right: 1rem;
  }
  }
  //Circles end
  
  
  